- var page = "index";
doctype html
html(lang="vi")
    head
        include jades/head
    body(ontouchstart='')
        include jades/header

        main.wrapper
            section.flightPassenger
                .flightHeader
                    .container
                        .flightHeader__left
                            .flightStep
                                .flightStep__item.step1.visited
                                    .flightStep__numb 1
                                    .flightStep__text Select Flight
                                .flightStep__item.step2.active
                                    .flightStep__numb 2
                                    .flightStep__text Passenger
                                .flightStep__item.step3
                                    .flightStep__numb 3
                                    .flightStep__text Review
                                .flightStep__item.step4
                                    .flightStep__numb 4
                                    .flightStep__text Payment
                            .flightStepMobile 02. Passenger
                        .flightHeader__right
                            button.btn.btn-orange-1(type='button' data-toggle="modal" data-target="#searchModal") EDIT SEARCH

        include jades/footer
        script(src='js/jquery-3.3.1.min.js')
        script(src='js/popper.min.js')
        script(src='/js/bootstrap.min.js')
        script(src='/js/slick.min.js')
        script(src='/js/t-datepicker.min.js')

        script.
            $('.camNavbar__toggle').click(function () {
                $('.camNavbar__main').addClass('open');
            });

            $('.camNavbar__close, .camNavbar__backdrop').click(function () {
                $('.camNavbar__main').removeClass('open');
            });
            if (screen.width < 768) {
                $('.camNavbar__link').click(function () {
                    $(this).next('.camNavbar__sub').slideToggle(200);
                    $(this).parent('li').toggleClass('active');
                });
            };
            if (screen.width < 768) {
                $('.footer__top').css('background-image', 'url("images/footer-bg-mobile.jpg")')
            };




