// Font Colors
$base-font-family:"Roboto";
$base-font-color:#000;
$base-font-size:14px;
$base-font-weight:normal;
$base-line-height:1.5;
$base-background-color:#fff;

//Font weight
$ultrathin:100;
$light:200;
$thin:300;
$regular:400;
$medium:500;
$semibold:600;
$bold:700;
$heavy:800;
$black:900;

//Responsive
$screen-xs:767px;
$screen-sm:768px;
$screen-md:992px;
$screen-lg:1200px;
$screen-xl:1920px;

//grid
$screen-sm-max: ($screen-md - 1);
$screen-md-max: ($screen-lg - 1);

$purple: #410099;
$green: #00A887;
$gray:#888;
$yellow: #FDC702;
$pink: #FFD8DC;
$red: #F93243;
$black: #282527;
$blue: #410099;








