.flightList{
  &__main{
    @include breakpoint(sm){
      padding: 3vw 0;
    }
  }
  &__item{
    @include breakpoint(sm){
      margin-bottom: 3vw;
    }
  }
  &__btn{
    text-align: right;
    .btn{
      min-width: 10vw;
    }
  }
}
.flDate{
  background-color: #fff;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-bottom: 1vw;
  &__slide{
    display: flex;
    padding: 0 2vw;
    .slick-prev{
      left: 0;
    }
    .slick-next{
      right: 0;
    }
    .slick-arrow{
      border: none;
    }
  }
  &__item{
    width: calc(100% / 7);
    padding: 1vw;
    text-align: center;
    cursor: pointer;
    transition: background-color .3s ease-in-out;
    &:hover{
      background-color: $orange;
      p{
        color: #fff;
        strong{
          font-weight: 500;
        }
      }
    }
    &.active{
      background-color: $orange;
      p{
        color: #fff;
        strong{
          font-weight: 500;
        }
      }
    }
  }
}
.sortBy{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 1vw;
  ul{
    display: flex;
    align-items: center;
    margin-left: 1.5vw;
    li{
      +li{
        padding-left: 1vw;
      }
      &.active{
        .btn{
          background-color: $purple;
          color: #fff;
        }
      }
      .btn{
        font-weight: 400;
        &:hover{
          background-color: $purple;
          color: #fff;
          opacity: 1;
        }
      }
    }
  }
}
.lineInfo{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1vw;
  &__left{
    display: flex;
    align-items: center;
  }
  &__trip{
    display: flex;
    align-items: center;
    margin-right: 1vw;
    svg{
      margin: 0 1vw;
    }
  }
  &__date{
    display: flex;
    align-items: center;
    &:before{
      content: '\f111';
      font-weight: 900;
      font-family: "Font Awesome 5 Free";
      font-size: .5vw;
      color: rgba(0, 0, 0, 0.15);
      margin-right: 1vw;
    }
  }
  &__fare{
    display: flex;
    align-items: center;
  }
}
.flightResult{
  .flTable{
    &__ticket{
      width: 100%;
      color: #fff;
      cursor: auto;
      &:before{
        display: none;
      }
      &.ticket-economy{
        background-color: #502678;
      }
      &.ticket-business{
        background-color: #1D0C43;
      }
      .btn{
        min-width: 10vw;
      }
    }
  }
}
.modal-search{
  &__cont{
    padding: 30px 0;
    @include breakpoint(sm){
      padding: 2vw 0;
    }
    h2{
      text-align: center;
    }
  }
}