.btn{
  border-radius: 4px;
  transition: all .15s;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  @include breakpoint(xs){
    font-size: 14px;
    height: 36px;
    padding: 0 15px;
  }
  @include breakpoint(sm){
    font-size: 1vw;
    padding: 0 1vw;
    height: 2.5vw;
  }
  &:focus{
    outline: none;
    box-shadow: none;
  }
  &:hover{
    opacity: .8;
  }
  &.btn-lg{
    @include breakpoint(xs){
      height: 48px;
    }
    @include breakpoint(sm){
      height: 3.3vw;
    }
  }
  &.btn-purple{
    color: #fff;
    background-color: $purple;
    border-color: $purple;
  }
  &.btn-orange{
    color: #fff;
    background-color: $orange;
    border-color: $orange;
  }
  &.btn-orange-1{
    color: #fff;
    background-color: $orange-1;
    border-color: $orange-1;
  }
  &.btn-outline{
    border-color: #ced4da;
  }
}
.btnGroup{
  display: inline-flex;
  .btn{
    + .btn{
      margin-left: 15px;
      @include breakpoint(sm){
        margin-left: 1vw;
      }
    }
  }
  a{
    + a{
      margin-left: 15px;
      @include breakpoint(sm){
        margin-left: 1vw;
      }
    }
  }
}
.viewMore{
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  color: #318FDB;
  @include breakpoint(sm){
    font-size: 1vw;
    &:hover{
      span{
        text-decoration: underline;
      }
    }
  }
  span{
    margin-right: 20px;
    @include breakpoint(sm){
      margin-right: 1vw;
    }
  }
}
.editBtn{
  .btn{
    text-transform: uppercase;
    width: 150px;
    @include breakpoint(sm){
      width: 10vw;
    }
  }
}
.dateBtn{
  &__item{
    @include breakpoint(xs){
      margin-bottom: 15px;
    }
    .btn{
      width: 100%;
      border-color: $orange-1;
      color: $orange-1;
    }
  }
}