.flTimes{
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  @include breakpoint(sm){
    margin-bottom: 1vw;
  }
  svg{
    margin: 0 15px;
    @include breakpoint(sm){
      margin: 0 1vw;
    }
  }
}
.flCode{
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  @include breakpoint(sm){
    margin-bottom: 1vw;
  }
  svg{
    margin-right: 15px;
    @include breakpoint(sm){
      margin-right: 1vw;
    }
  }
}
.flAirline{
  display: flex;
  align-items: flex-start;
  img{
    width: 30px;
    display: block;
    @include breakpoint(sm){
      width: 2vw;
    }
  }
  p{
    margin-left: 10px;
    @include breakpoint(sm){
      margin-left: .7vw;
    }
  }
}
.flHeader{
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(102, 47, 142, 0.6);
  background-blend-mode: multiply;
  padding: 15px 0;
  @include breakpoint(sm){
    padding: 1vw 0;
  }
  &__name{
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    @include breakpoint(sm){
      font-size: 1.1vw;
    }
    span{
      display: inline-block;
      vertical-align: middle;
    }
    svg{
      display: inline-block;
      vertical-align: middle;
      margin: 0 15px;
      @include breakpoint(sm){
        margin: 0 1vw;
      }
    }
  }
  .container{
    @include breakpoint(sm){
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  .editBtn{
    @include breakpoint(xs){
      margin-top: 15px;
    }
  }
}
.flTitle{
  margin-bottom: 24px;
  @include breakpoint(sm){
    margin-bottom: 1.5vw;
  }
}
.nonStop{
  display: flex;
  @include breakpoint(sm){
    margin-top: 1vw;
  }
  &__item{
    width: 50%;
  }
  &__label{
    background-color: #81BE33;
    display: inline-flex;
    align-items: center;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    padding: 2px 5px;
    margin-bottom: 5px;
    @include breakpoint(sm){
      font-size: 1vw;
      padding: .1vw .5vw;
      margin-bottom: .5vw;
    }
    span{
      margin-left: 5px;
      @include breakpoint(sm){
        margin-left: .5vw;
      }
    }
  }
}
.textTrip{
  display: flex;
  .d-svg{
    margin: 0 15px;
    @include breakpoint(sm){
      margin: 0 2vw;
    }
  }
}
.flightHeader{
  @include breakpoint(xs){
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
    background-color: #fff;
    padding: 15px 0;
  }
  @include breakpoint(sm){
    background-color: $purple;
    padding: 1vw 0;
  }
  &__left{}
  &__right{}
  .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.flightStep{
  display: flex;
  align-items: center;
  width: 35vw;
  @include breakpoint(xs){
    display: none;
  }
  &__item{
    width: 25%;
    position: relative;
    &:before{
      content: '';
      width: 100%;
      height: .3vw;
      background-color: #C087DB;
      position: absolute;
      top: .6vw;
      left: .1vw;
    }
    &:nth-child(2),
    &:nth-child(3),{
      text-align: center;
      .flightStep__numb{
        margin: auto;
      }
    }
    &:nth-child(4){
      display: flex;
      justify-content: flex-end;
      flex-wrap: wrap;
      &:before{
        left: -.1vw;
      }
      .flightStep__text{
        text-align: right;
      }
    }
    &.active{
      .flightStep__numb{
        background-color: $orange;
        color: #fff;
      }
      .flightStep__text{
        color: $orange;
      }
    }
  }
  &__numb{
    width: 1.7vw;
    height: 1.7vw;
    border-radius: 50%;
    background-color: #C087DB;
    color: $purple;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1vw;
    font-weight: 500;
    position: relative;
    z-index: 1;
  }
  &__text{
    font-size: 1vw;
    font-weight: 500;
    color: #C087DB;
    width: 100%;
    margin-top: .5vw;
  }
}
.flightStepMobile{
  font-size: 12px;
  color: #000;
  @include breakpoint(sm){
    display: none;
  }
}
.flightSelect{
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
  background-color: #fff;
  &__item{
    width: 33.333%;
    padding: 1vw 0;
    &:not(:last-child){
      border-right: 1px solid rgba(0, 0, 0, 0.25);
    }
    &:nth-child(2){
      padding: 1vw 2vw;
    }
  }
  &__text{
    display: flex;
    align-items: center;
    font-size:1vw;
    color: $black75;
    svg{
      display: block;
      margin-right: 1vw;
    }
  }
  &__price{
    display: flex;
    justify-content: flex-end;
    position: relative;
  }
  .container{
    display: flex;
    align-items: center;
  }
}
.textIcon{
  display: flex;
  align-items: center;
  font-size: 14px;
  color: $black55;
  @include breakpoint(sm){
    font-size: 1vw;
  }
  span{
    margin-left: 15px;
    @include breakpoint(sm){
      margin-left: 1vw;
    }
  }
}
.tripBox{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  @include breakpoint(sm){
    margin-bottom: 1vw;
  }
  &__time{
    font-size: 12px;
    height: 24px;
    padding: 0 15px;
    background-color: rgba(0, 0, 0, 0.15);
    color: $black55;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    margin-bottom: 5px;
    @include breakpoint(sm){
      font-size: .9vw;
      height: 1.7vw;
      padding: 0 1vw;
      margin-bottom: .5vw;
    }
  }
  &__item{
    width: 35%;
  }
  &__stop{
    text-align: center;
    padding: 0 10px;
    width: 30%;
    @include breakpoint(sm){
      padding: 0 .8vw;
    }
  }
}
.yourBooking{
  background-color: #fff;
  @include breakpoint(xs){
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    transition: all .3s ease-in-out;
    transform: translateY(100%);
    visibility: hidden;
  }
  @include breakpoint(sm){
    position: absolute;
    top: calc(100% + 1vw);
    left: 0;
    z-index: 10;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-bottom: 4px solid $purple;
    width: 27vw;
    display: none;
  }
  &__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include breakpoint(xs){
      height: 60px;
      padding: 0 24px;
    }
    @include breakpoint(sm){
      padding: 1.5vw 1.5vw 0;
    }
  }
  &__close{
    svg{
      display: block;
    }
  }
  &__title{
    font-size: 20px;
    font-weight: 500;
    color: $purple;
    @include breakpoint(sm){
      font-size: 1.3vw;
    }
  }
  &__body{
    @include breakpoint(xs){
      height: calc(100% - 140px);
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
      padding: 0 24px;
    }
    @include breakpoint(sm){
      padding: 0 1.5vw;
    }
  }
  &__item{
    padding: 15px 0;
    border-bottom: 1px solid $black15;
    @include breakpoint(sm){
      padding: 1vw 0;
    }
    &:last-child{
      border-bottom: none;
    }
  }
  &__traveler{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__total{
    .d-flex{
      justify-content: space-between;
      align-items: center;
    }
  }
  &__btn{
    @include breakpoint(xs){
      display: flex;
      align-items: center;
      height: 80px;
      padding: 0 24px;
    }
    @include breakpoint(sm){
      padding: 1.5vw;
    }
    .btn{
      width: 100%;
    }
  }
}