.inputSearch{
  position: relative;
  @include breakpoint(sm){
    width: 13vw;
  }
  > svg{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    @include breakpoint(xs){
      left: 15px;
    }
    @include breakpoint(sm){
      left: 1vw;
    }
  }
  .form-control{
    @include breakpoint(xs){
      padding-left: 40px;
    }
    @include breakpoint(sm){
      padding-left: 2.5vw;
    }
  }
}
.form-control{
  @include breakpoint(xs){
    height: 32px;
    font-size: 14px;
    padding: 0 15px;
  }
  @include breakpoint(sm){
    height: 2.3vw;
    font-size: 1vw;
    padding: 0 1vw;
  }
  &:focus{
    box-shadow: none;
    border-color: #ced4da;
  }
  &.form-control-lg{
    @include breakpoint(xs){
      height: 48px;
    }
    @include breakpoint(sm){
      height: 3.3vw;
    }
  }
}

.close{
  font-size: 18px;
  @include breakpoint(sm){
    font-size: 1.2vw;
  }
}
.form-group{
  @include breakpoint(xs){
    margin-bottom: 15px;
  }
  @include breakpoint(sm){
    margin-bottom: 1vw;
  }
  >label{
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 8px;
    @include breakpoint(sm){
      font-size: 1vw;
      margin-bottom: .7vw;
    }
  }
}
.inputSvg{
  position: relative;
  > svg{
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    @include breakpoint(sm){
      left: 1vw;
    }
  }
  .form-control{
    padding-left: 45px;
    @include breakpoint(sm){
      padding-left: 3vw;
    }
  }
}
.inputSelect{
  position: relative;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  @include breakpoint(sm){
    margin-bottom: 1vw;
  }
  select{
    border: none;
    background: transparent;
    font-size: 14px;
    color: $black65;
    margin: 0 10px;
    @include breakpoint(sm){
      font-size: 1vw;
      margin: 0 1vw 0 .5vw;
    }
    &:focus{
      outline: none;
    }
  }
  input{
    border: none;
    background: transparent;
    flex: 1 1 auto;
  }
}