h1{
  font-size: 26px;
  @include breakpoint(sm){
    font-size: 3vw;
  }
}
h2{
  font-size: 22px;
  @include breakpoint(sm){
    font-size: 2vw;
  }
}
h3{
  font-size: 18px;
  @include breakpoint(sm){
    font-size: 1.6vw;
  }
}
h4{
  font-size: 16px;
  @include breakpoint(sm){
    font-size: 1.2vw;
  }
}
h5{
  font-size: 13px;
  @include breakpoint(sm){
    font-size: .8vw;
  }
}
.mb5{
  margin-bottom: 5px;
  @include breakpoint(sm){
    margin-bottom: .5vw;
  }
}
.mb15{
  margin-bottom: 15px;
  @include breakpoint(sm){
    margin-bottom: 1vw;
  }
}

.mt5{
  margin-top: 5px;
  @include breakpoint(sm){
    margin-top: .5vw;
  }
}
.mt15{
  margin-top: 15px;
  @include breakpoint(sm){
    margin-top: 1vw;
  }
}
.ml5{
  margin-left: 5px;
  @include breakpoint(sm){
    margin-left: .5vw;
  }
}
.bgGreen{
  background: $green;
}
.bgYellow{
  background: $yellow;
}
.bgPink{
  background: $pink;
}
.bgRed{
  background: $red;
}
.bgBlack{
  background: $black;
}
.bgPurple{
  background: $purple;
}
.bgGray{
  background: $gray;
}


.colorGreen{
  color: $green;
}
.colorYellow{
  color: $yellow;
}
.colorPink{
  color: $pink;
}
.colorRed{
  color: $red;
}
.colorBlack{
  color: $black;
}
.colorPurple{
  color: $purple;
}
.colorGray{
  color: $gray;
}

.semibold{
  font-weight: $semibold;
}
.w-33{
  width: 33.333% !important;
}







.blockCountdown{
  display: flex;
  align-items: center;
  margin-left: -15px;
  margin-right: -15px;
  @include breakpoint(sm){
    margin-left: -1vw;
    margin-right: -1vw;
  }
  &__item{
    text-align: center;
    padding: 0 15px;
    @include breakpoint(sm){
      padding: 0 1vw;
    }
    &:first-child{
      display: none;
    }
    p{
      font-size: 15px;
      text-transform: uppercase;
      color: #000;
      font-weight: $semibold;
      @include breakpoint(sm){
        font-size: 1vw;
      }
    }

  }
  .numb{
    font-size: 30px;
    font-weight: $bold;
    color: $purple;
    position: relative;
    @include breakpoint(sm){
      font-size: 2vw;
    }
    &:after{
      content: ':';
      position: absolute;
      right: -18px;
      top: 6px;
      font-size: 22px;
      @include breakpoint(sm){
        right: -1.2vw;
        top: .5vw;
        font-size: 1.5vw;
      }
    }
    &.seconds{
      &:after{
        display: none;
      }
    }
  }
}
.quantity{
  display: inline-flex;
  border: 1px solid #8888;
  background-color: #fff;
  input{
    border: none;
    background: transparent;
    width: 50px;
    text-align: center;
    font-size: 14px;
    color: #000;
    font-weight: $semibold;
    @include breakpoint(sm){
      width: 5vw;
      font-size: 1vw;
    }
  }
  &__minus,
  &__plus{
    padding: 10px;
    font-size: 14px;
    @include breakpoint(sm){
      padding: .5vw;
      font-size: 1vw;
    }
    &.disabled{
      cursor: not-allowed;
      background-color: #eee;
      opacity: .5;
      button{
        pointer-events: none;
      }
    }
  }
  &__minus{
    border-right: 1px solid #888;
  }
  &__plus{
    border-left: 1px solid #888;
  }
}
.pIcon{
  position: relative;
  margin-bottom: 10px;
  font-size: 15px;
  @include breakpoint(sm){
    margin-bottom: .8vw;
    font-size: 1vw;
  }
  i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  span{
    padding-left: 25px;
    @include breakpoint(sm){
      padding-left: 2vw;
    }
  }
}