.table{
  th{
    font-weight: 500;
    font-size: 14px;
    padding: 15px;
    @include breakpoint(sm){
      font-size: 1vw;
      padding: 1vw ;
    }
    &:first-child{
      border-top-left-radius: 4px;
      @include breakpoint(sm){
        border-top-left-radius: .5vw;
      }
    }
    &:last-child{
      border-top-right-radius: 4px;
      @include breakpoint(sm){
        border-top-right-radius: .5vw;
      }
    }
  }
  td{
    font-size: 14px;
    padding: 15px;
    @include breakpoint(sm){
      font-size: 1vw;
      padding: 1vw ;
    }
  }
  &.table-flight{
    th{
      background-color: $purple;
      color: #fff;
      vertical-align: middle;
      white-space: nowrap;
      border-bottom: .5vw solid #e5e5e5;
      border-top: none;
    }
    td{
      background-color: #fff;
      vertical-align: middle;
      border-bottom: 1vw solid #e5e5e5;
      border-top: none;
      &.active{
        background-color: rgba(242, 216, 248, 0.6);
      }
    }
  }
  &.table-flight-mobile{
    th{
      background-color: $purple;
      color: #fff;
      vertical-align: middle;
      border-bottom: none;
      border-top: none;
    }
    td{
      background-color: #fff;
      vertical-align: middle;
      border-bottom: 15px solid #e5e5e5;
      border-top: none;
    }
  }
}