.textDashed{
  font-size: 15px;
  text-transform: uppercase;
  color: #000;
  font-weight: $medium;
  border-bottom: 1px dashed #000;
  display: inline-block;
  @include breakpoint(sm){
    font-size: 1vw;
  }
}
.textNote{
  display: flex;
  align-items: center;
  &__text{
    font-size: 14px;
    color: #81BE33;
    flex: 1;
    padding-left: 15px;
    @include breakpoint(sm){
      font-size: 1vw;
      padding-left: 1vw;
    }
  }
}